<h1>🏫 Institutions in Malaysia</h1>

<div style="display:flex; flex-wrap:wrap; gap:20px;">

    {% for i in institutions %}

        <div style="border:1px solid #ddd; padding:15px; width:200px; text-align:center;">

            {% if i.logo %}
                <img src="{{ i.logo.url }}" width="100">
            {% endif %}

            <h3>{{ i.name }}</h3>
            <p>{{ i.location }}</p>

            <a href="/institution/{{ i.id }}/">
                View Courses
            </a>

        </div>

    {% endfor %}

</div>